#loginForm {
  background-color: #fff; border: solid 1px #E6E6E6; border-radius: 1px; margin: 0 0 10px; padding: 10px 0; width: 348px; height: 524px; text-align: center;
  #line{
    color: #999999; font-size: 0.8rem; text-weight: bold; margin-bottom: 20px;
    &:before{
      content: "";
      display: inline-block;
      height:1px; width: 110px; border-bottom: solid 1px #999999;
      margin-right: 15px;
      margin-bottom: 3px;
    }
    &:after{
      content: "";
      display: inline-block;
      height:1px; width: 110px; border-bottom: solid 1px #999999;
      margin-left: 15px;
      margin-bottom: 3px;
    }
  }
  .textInput {
    width: 264px; height: 34px; background-color: #F9F9F9; padding: 0 5px; border: solid 1px #EBEBEB; margin-bottom: 5px;
  }
  .mainBtn{
    display: block;
    text-align: center;
    margin: 15px auto;
    background-color: #3897F0;
    color: white;
    width: 264px;
    height: 34px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 30px;
  }
  .loginText{margin: 0 40px; display: block; color: #999999; font-weight: bold;}
}

#checkMem {background-color: #fff; width: 348px; height: 48px; padding: 10px 0; border: solid 1px #E6E6E6; border-radius: 1px; text-align: center; line-height: 48px;}