@font-face { font-family: 'Handon3gyeopsal300g'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal300g.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Cafe24Oneprettynight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff'); font-weight: normal; font-style: normal; }
body{
  *{
    font-family: "Handon3gyeopsal300g", sans-serif;
  }
  background:rgb(250,250,250);

}
#main{
  text-align: center;

  #login {
    #prevBtn{
      margin-top: -70px;
      font-size: 30px;
      float: left;
      display: inline-block;
      margin-left: 10px;
      &:hover{cursor: pointer}
    }
    #mainTitle{display: inline-block; text-align: center;}
  }

  #join, #login{
    height: 650px;
    margin-top:60px;
    overflow: hidden;
    display: inline-block;
    width: 400px;
    box-shadow: 5px 0px 60px rgba(0, 0, 0, .5);
    background-color: #fff;
    h1 {
      padding:15px 0;
      img {height:100px;}
    }
    #loginForm {
      display: inline-block;
      margin: 0 auto;
      padding: 10px 0; width: 348px; height: 524px;
      #line{
        color: #999999; font-size: 0.8rem; text-weight: bold; margin-bottom: 20px;
        &:before{
          content: "";
          display: inline-block;
          height:1px; width: 110px; border-bottom: solid 1px #999999;
          margin-right: 15px;
          margin-bottom: 3px;
        }
        &:after{
          content: "";
          display: inline-block;
          height:1px; width: 110px; border-bottom: solid 1px #999999;
          margin-left: 15px;
          margin-bottom: 3px;
        }
      }
      .textInput {
        width: 264px;
        height: 34px;
        background:#fff;
        padding:2px 5px;
        border:0;
        border-bottom:2px solid rgb(236,236,237);
        transition: .7s;
        margin-bottom: 5px;
        outline:none;
        &:focus{
          border-bottom:2px solid rgb(0,0,255);
        }
      }

      .noUnderLine{text-decoration: none;}
      .mainBtn{
        display: block;
        text-align: center;
        text-decoration: none !important;
        margin: 15px auto;
        background-color: #fff;
        border:none;
        color:#000;
        width: 264px;
        padding:10px 0;
        font-size: 1rem;
        font-weight: bold;
        line-height: 30px;
        transition: .3s;
        cursor:pointer;
        box-shadow: 5px 0px 10px rgba(0,0,0,.2);
        &:hover {
          box-shadow:5px 0px 30px rgba(0,0,0, .3);
        }
      }

      .mtitle {font-size:25pt;}

      .loginText{margin: 0 40px; display: block; color: #9c9c9c; font-weight: bold; margin-bottom:20px;}
      .agree {font-size:10pt;}
    }
  }

  #checkMem {
    margin : 10px auto;
    background-color: #fff;
    width: 348px;
    height: 48px;
    padding: 10px 0;
    border-radius: 1px;
    text-align: center;
    line-height: 48px;


    #loginBtn{
      color: #4d9dff;
      text-decoration: underline;
      &:hover{
        cursor: pointer;
      }
    }
  }

}
