#post{
  width: 500px;
  margin: 0 auto;
  border: 1px solid #999999;
  #writer{
    margin: 20px 0;
    line-height: 48px;
    img{
      height: 48px;
      width: 48px;
      border: 1px solid black;
      border-radius: 48px;
      margin: 0 10px;
      vertical-align: top;
    }
  }

  #img_slide {
    display: block;
    margin: 0 auto;
  }
}