@keyframes fadein {
  from {opacity:0;}
  to {opacity:1;}
}
@-moz-keyframes fadein { /* Firefox */
  from {opacity:0;}
  to {opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {opacity:0;}
  to {opacity:1;}
}
@-o-keyframes fadein { /* Opera */
  from {opacity:0;}
  to {opacity: 1;}
}

@keyframes fadeout {
  from {opacity:1;}
  to {opacity:0;}
}
@-moz-keyframes fadeout { /* Firefox */
  from {opacity:1;}
  to {opacity:0;}
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
  from {opacity:1;}
  to {opacity:0;}
}
@-o-keyframes fadeout { /* Opera */
  from {opacity:1;}
  to {opacity:0;}
}

#profile-setting{
  &.fadein{
    animation: fadein 750ms;
    -moz-animation: fadein 750ms; /* Firefox */
    -webkit-animation: fadein 750ms; /* Safari and Chrome */
    -o-animation: fadein 750ms; /* Opera */
  }
  &.fadeout{
    animation: fadeout 500ms;
    -moz-animation: fadeout 500ms; /* Firefox */
    -webkit-animation: fadeout 500ms; /* Safari and Chrome */
    -o-animation: fadeout 500ms; /* Opera */
  }
  z-index: 999;
  height: 100%;
  width: 100%;
  position: fixed;
  #profile-background{
    z-index: 998;

    position: fixed;

    margin-top: -15px;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    background-color: rgba(255, 255, 255, 0.7);

  }
  #profile-wrapper{
    z-index: 999;
    background-color: white;
    padding-top: 15px;
    box-shadow: 5px 0px 50px rgba(0, 0, 0, .3);
    width: 500px;
    height: 220px;
    padding:50px 0;
    margin: -110px auto 0 auto;
    top:50%;
    left: 0;
    right: 0;
    position:fixed;
    text-align: center;
    #profile-profile_img{
      display: block;
      height: 128px;
      width: 128px;
      border-radius: 64px;
      text-align: center;
      margin: 0 auto;
    }

    .upload_btn{
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -64px;
      top: 159px;
      font-weight: bold;
      padding:4px 0;
      width:128px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.5);
      font-size: 8pt;
      &:hover{cursor: pointer;}
    }
    #ex_file {display:none;}
    #user-name{display: block; margin-top: 15px;}

    .profile-btn{
      height: 30px;
      padding:5px 10px;
      background-color: #228be6;
      color: white;
      font-weight: bold;
      font-size: 10pt;
      border-radius: 3px;
      border: none;
      margin: 15px 10px;
      &:hover{cursor: pointer;}
      &:focus{outline: none;}
    }
  }
}