@keyframes fadein {
  from {opacity:0;}
  to {opacity:1;}
}
@-moz-keyframes fadein { /* Firefox */
  from {opacity:0;}
  to {opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {opacity:0;}
  to {opacity:1;}
}
@-o-keyframes fadein { /* Opera */
  from {opacity:0;}
  to {opacity: 1;}
}

@keyframes fadeout {
  from {opacity:1;}
  to {opacity:0;}
}
@-moz-keyframes fadeout { /* Firefox */
  from {opacity:1;}
  to {opacity:0;}
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
  from {opacity:1;}
  to {opacity:0;}
}
@-o-keyframes fadeout { /* Opera */
  from {opacity:1;}
  to {opacity:0;}
}

#profile-setting{
  &.fadein{
    animation: fadein 750ms;
    -moz-animation: fadein 750ms; /* Firefox */
    -webkit-animation: fadein 750ms; /* Safari and Chrome */
    -o-animation: fadein 750ms; /* Opera */
  }
  &.fadeout{
    animation: fadeout 500ms;
    -moz-animation: fadeout 500ms; /* Firefox */
    -webkit-animation: fadeout 500ms; /* Safari and Chrome */
    -o-animation: fadeout 500ms; /* Opera */
  }
  z-index: 999;
  height: 100%;
  width: 100%;
  position: fixed;
  #profile-background{
    z-index: 999;
    position: fixed;
    margin-top: -15px;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #profile-wrapper{
    z-index: 999;
    background-color: white;
    padding-top: 15px;
    border: 1px solid #ababab;
    width: 500px;
    margin: 0 auto;
    top: 37%;
    left: 0;
    right: 0;
    position: fixed;
    text-align: center;
    #profile-profile_img{
      display: block;
      height: 64px;
      width: 64px;
      border-radius: 64px;
      border: 1px solid black;
      text-align: center;
      margin: 0 auto;
    }

    .upload_btn{
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -32px;
      top: 60px;
      height: 21px;
      width: 64px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.5);
      font-size: 0.8rem;
      &:hover{cursor: pointer;}
    }
    #ex_file {display:none;}
    #user-name{display: block; margin-top: 15px;}

    .profile-btn{
      height: 40px;
      width: 90px;
      background-color: #228be6;
      color: white;
      font-weight: bold;
      font-size: 1rem;
      border-radius: 25px;
      border: none;
      margin: 15px;
      &:hover{cursor: pointer;}
      &:focus{outline: none;}
    }
  }
}